* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: sans-serif;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
header {
    width: 100%;
    height: 100vh;
    background-image: url(../IMG/image\ 13.png);
    background-size: cover;
}
.navMain {
    width: 100%;
    height: 90px;
    background-color: #411c86d3;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}
.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav a {
    color: #fff;
    text-decoration: none;
    padding: 7px 12px;
    font-size: 18px;
    transition: 0.3s ease;
}
nav a:hover {
    opacity: 0.7;
    transition: 0.3s ease;
}
.landing_page  {
    height: 100%;
    display: flex;
    align-items: center;
}

.landing_page .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box {
    width: 50%;
}
.mainText {
    width: 100%;    
    font-size: 55px;
    line-height: 70px;
}
.blueText {
    color: #86DFF5;
}
.center {
    color: #fff;
    margin-left: 40px;
}
.btns {
    display: flex;
    align-items: center;
    justify-content: center;
}
.btnHeader {
    border: none;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    margin: 5px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}
.btnRegister {
    background-color: #575ec6cb;
}
.btnRegister:hover {
    background-color: #575ec6;
    transition: 0.3s ease;
}
.btnCourses {
    background-color: #86dff5be;
}
.btnCourses:hover {
    background-color: #86dff5;
    transition: 0.3s ease;
}
section {
    width: 100%;
    height: 100vh;
}

#courses {
    background-color: #E5E5E5;
}

.coursesMain {
    width: 100%;
}
.sectionText{
text-align: center;
font-size: 60px;
color: #340A53;
padding: 30px 0;
}
.line {
    width: 50%;
    height: 2px;
    background-color: #340A53;
    margin: 0 auto;
}
.cardsMain {
    padding: 30px 0;
}
.cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card {
    overflow: hidden;
    /* border: 2px solid red; */
    width: 380px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.sportImg {
    width: 100%;
    height: 370px;
    object-fit: cover;
}
.info {
    padding: 15px;
    background-color: #340A53;
    color: #fff;
}
.whiteLine {
    width: 70%;
    height: 1px;
    background-color: #fff;
    margin: 10px 0;
}
.infoAndBtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.joinBtn {
    font-weight: 800;
    padding: 12px 30px;
    color: #340A53;
    background-color: #86DFF5;
    border: none;
    border-radius: 10px;
    transition: 0.3s ease;
    cursor: pointer;
}
.joinBtn:hover {
    opacity: 0.7;
    transition: 0.3s ease;
}
.seeAll {
    display: flex;
    align-items: center;
    justify-content: center;
}
.seeAllBtn {
    font-size: 20px;
    font-weight: 700;
    color: #340A53;
    background-color: #86DFF5;
    border: none;
    padding: 12px 25px;
    border-radius: 12px;
    transition: 0.3s ease;
    cursor: pointer;
}
.seeAllBtn:hover {
    opacity: 0.8;
    transition: 0.3s ease;
}
#trainers .card{
    width: 300px;
}
#trainers .info {
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 15px;
}
#register {
    background-color: #E5E5E5;
}
.registerMain {
    display: flex;
    padding: 55px 70px;
    width: 100%;
    background-color: #fff;
    border-radius: 15px;
    margin-top: 30px;
}
.inputInfos, .sportRegister {
    width: 50%;
}
.inputInfos {
    padding: 15px 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.inputText {
    font-size: 30px;
    font-weight: 500;
    color: #828282;
}
.inputInfos input {
    padding: 15px 25px;
    border: 2px solid #340A53;
    border-radius: 15px;
    width: 65%;
    margin-bottom: 25px;
    font-size: 22px;
}
.submit {
    width: 65%;
    font-size: 20px;
    font-weight: 700;
    color: #340A53;
    background-color: #86DFF5;
    padding: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}
.submit:hover {
    opacity: 0.8;
    transition: 0.3s ease;
}
.sportRegister {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.sportRegister img {
    width: 360px;
}
.sportRegister h1 {
    margin-top: 25px;
    font-size: 27px;
    color: #340A53;
}